body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}
